#projects-title{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

#projects-p{
    font-size: 22px;
}

.projects-intro{
    margin-top: 10vh;
    justify-self: center;
    justify-items: center;
}

.img-projects{
    border-radius: 20px;
}