.banner-contact{
    background-image: url(../assets/banner-contact.svg);
    width: 100%;
    padding-top: 10.5rem;
    
    & > h1{
        padding: 41px 68px;
        justify-self: center;
        font-family: "DM Serif Display", serif;
        font-size: 50px;
        font-weight: 400;
        background-color: #ffff;
        border-radius: 37px 37px 0 0;
    }
}

#p-contact{
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  justify-self: center;
  padding: 0 12rem;
}

form{
  padding: 6rem 25rem;
  
}

.row{
  display:flex;
  gap:40px;
}

.input-group{
  flex:1;
  display:flex;
  flex-direction:column;
  margin-bottom:40px;
}

label{
  font-size:14px;
  color:#666;
  margin-bottom:8px;
}


input, textarea{
  border:none;
  border-bottom:2px solid #ccc;
  background:transparent;
  padding:10px 5px;
  font-size:16px;
  outline:none;
  transition:.3s;
}

input:focus, textarea:focus{
  border-bottom:2px solid #000;
}

textarea{
  resize:none;
}


#button-contact{
  background:#111;
  color:#fff;
  padding:14px 28px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  float:right;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  transition: 0.3s;

    &:hover{
        font-size: 20px;
        transform: translateY(-3px);
    }
}

