header{
    background-color: #fff;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
}

header ul, li {
    list-style: none;
    margin: 10px;
    padding: 5px;
    justify-items: center;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

nav a {
    color: #1d1d1d;
    font-size: 20px;
    text-decoration: none;
    padding: 0 40px;
    transition: 0.3s;
}

nav a:hover{
    color: #0C70F2;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 6px 20px;
    transform: translateY(-3px);
    background-color: #f8f8f8;
    padding: 2rem 4rem;
    font-size: 22px;
    border-radius: 35px;
}