header{
    background-color: #fff;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
}

header ul, li {
    list-style: none;
    margin: 10px;
    padding: 20px;
}

nav{
    display: flex;
    flex-direction: row;
}

nav a {
    color: #1d1d1d;
    font-size: 20px;
    text-decoration: none;
    padding: 0 0 0 50px;
}

nav a:hover{
    color: #0C70F2;

}