footer{
    display: flex;
    margin-top: 70px;
}

a {
    text-decoration: none;
    color: #1d1d1d;
}

#title-footer-contact, #title-footer-pages{
    font-family: "DM Serif Display", serif;
    font-size: 25px;
    font-weight: 400;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}

.footer-intro{
    margin: 0 50px;

    & > p {
        font-size: 22px;
        width: 50%;
    }

    & > .footer-icons{
        display: flex;
        justify-content: space-between;
        width: 30%;
        

        & > img{
            width: 18px;
            transition: 0.3s;

            &:hover{
                transform: translateY(-3px);
            }
        }
    }
}

.footer-pages{

    & > ul{
        list-style: none;
        margin: 0;
        padding: 0;
        justify-items:start;
        
    }

    & > li > a{
        margin: 0;
        
    }


}

.footer-contact{
    margin: 0 50px;
    

    & > p{
        width: 60%;
    }
}